.entry-main {
  padding: 32px 0;
}

.entry-main img {
  margin: 32px auto;
  max-width: 40rem;
  border-radius: var(--radius);
}

.entry-main p {
  margin-bottom: 12px;
}

.entry-main h1,
.entry-main h2,
.entry-main h3 {
  margin-bottom: 12px;
}

.entry-main h1 {
  font-size: 2rem;
}

.entry-main h2 {
  font-size: 1.5rem;
}

.entry-main h3 {
  font-size: 1.25rem;
}
